<% if params[:query] %>

<p class="search_for">
<% if params[:query]  && !params[:query].blank? %>
Searching for all names containing <span><%= params[:query] %></span>
<% end %>
</p>

<%end %>

<% if @total == 0 %>

<p class="no_results">No items found...</p>

<% else %>

<p>Num of items found: <b><%=  @total %></b></p>

<%= will_paginate @items %>
<table>
<thead>
<tr>
<%= sort_and_link_helper %>
</tr>
</thead>
<tbody>
<% for item in @items %>
<tr>
<%= content_tag(:td, item.name) %>
<%= content_tag(:td, item.quantity) %>
<%= content_tag(:td, item.price) %>
</tr>
<% end -%>
</tbody>
</table>
<%end %>
