<h1> Ajax Tables </h1>

<p>And here is a list..You can sort it and search it</p>


<% form_tag url_for(:controller=> 'items', :action => 'index'), :method => :get  do %>
  <%= label_tag 'query', 'Filter on an item name' %>
  <%= text_field_tag(:query, nil, :size => 10) %>
  <%= submit_tag('Find') %>
  <%= image_tag("spinner.gif", :class => 'spinner', :id => 'query_spinner') %>
  <%= link_to 'Show All Items', url_for(:controller => 'items', :action => 'index')  %>
<% end -%>

 <% content_tag :div, :id => 'table' do %>
 <%= render :partial => 'list_items' %>
 <% end %>
